.ui.borderless.top.menu{
  background-color: #F7F7F7;
  border: none;
  box-shadow: none;
}

.ui.borderless.menu{
  border: none;
  box-shadow: none;
}

.footer{
  height: 100px;
  padding-top: 63px;
  padding-bottom: 30px;
}


